<header class="site-header">

  <div class="wrapper">
    <div class="site-title">
      MAISHA KABIR
    

      <nav class="site-nav">

        <div class="trigger">
          <a class="page-link" href="/">work</a>
          <a class="page-link" href="/about/">about</a>

<!--          {% for page in site.pages %}
            {% if page.title %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            {% endif %}
          {% endfor %}

   -->   

        </div>
      </nav>

    </div>
  </div>

</header>
